@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=PT+Sans&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');



*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

.logo{
	/*width:15px;
	height:10px;*/
	width:30%;
	display:flex;
	/*justify-content:center;*/
	align-items:center;
	padding-left:10px;
}




.navbar{
	background-color:#232323;
	height:11vh;
	display:flex;
	width:100%;
	top:0;
	/*position:sticky;*/
	transition: all 0.5s linear;
}


.para{
	color:white;
	font-size:1.5rem;
	padding-left:10px;
	/*font-family: 'Oswald', sans-serif;*/
	font-family: 'PT Sans', sans-serif;
}

.menu{
	width:60%;
	display:flex;
	justify-content:flex-end;
}

.list{
	width:30%;
	display:flex;
	justify-content:space-around;
	list-style:none;
	align-items:center;
}

.list a{
	text-decoration:none;
	color:white;
	font-size:1em;
}

.bgimg{
/*	background-image:url("images/background10.jpg");
	background-size:100%;
	height:100vh;
	width:100%;
	background-position:center right;
	background-attachment:scroll;
	opacity:0.8;
	background-repeat:no-repeat;*/
	 width:100%;
	 z-index:1;
    text-align: center;
	position: relative;
	/* z-index:1; */
	color:white;
    /*color:whitesmoke;*/
    top:40%;
    left:50%;
    transform: translate(-50%,-40%);
}
/*.section{
	background-image:url("images/background10.jpg");
	background-size:100%;
	height:100vh;
	width:100%;
	background-position:center;*/
	/*background-attachment:scroll;
	opacity:0.8;
}*/

.section{
	width:100%;
	position: relative;
	background-image:url("images/background10.jpg");
	background-size:cover;
	height:100vh;
	width:100%;
	background-position:center right;
	background-attachment:scroll;
	opacity:0.8;
	background-repeat:no-repeat;
	top:0;
	left:0;
}
.section::after{
	top:0;
	left:0;
	position: absolute;
	content:'';
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.6);
	/*background-color:rgba(255,255,255,0.5);*/
	z-index: 0;
}
.heading{
	/* position:relative; */
	font-size:75px;
	color:white;
	text-align:center;
	/* top:25%; */
	/*opacity:90;*/
	font-weight:bolder;
	font-family: 'Oswald', sans-serif;
	/*display:flex;
	align-items:center;
	justify-content:center;*/
}

.h{
	padding-top:10px;
	font-size:60px;
	font-family: 'Oswald', sans-serif;
}


span{
	color:#fe525b;
}

.h2{
	padding-top:10px;
	font-size:22px;
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
}


.btn{
	/*position:absolute;
	left:51%;
	top:78%;
	transform:translate(-78%,-51%);*/
	color:white;
	background-color:#fe525b;
	padding:12px 27px;
	border-radius:30px;
	border:none;
	cursor:pointer;
	font-size:20px;
	margin-top:20px;
}



.btn:hover{

	transition:ease-in-out 0.2s;
	background-color:red;


/*	transition-property: background-color, color, border-color, box-shadow;
    transition-duration: .3s,.3s,.3s,.8s;
    transition-timing-function: ease-in-out;*/
}

.section2 h1{
	font-size:44px;
	margin:75px 0;
	text-align:center;
	font-family: 'Oswald', sans-serif;
}



/*.section2{
	width:90%;
	margin:0 auto;
}*/

.images{
	width:90%;
	display:flex;
	margin:0 auto;
	justify-content:space-between;
	flex-wrap:wrap;
	cursor:pointer;

}

.card{
	padding-bottom:25px;
}

.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
	background-image:url("images/shop0.jpg");
	background-size:cover;
	width:320px;
	height:300px;
}

.img2{
	background-image:url("images/shop1.jpg");
}

.img3{
	background-image:url("images/shop2.jpg");
}


.img4{
	background-image:url("images/shop3.jpg");
}


.img5{
	background-image:url("images/shop4.jpg");
}


.img6{
	background-image:url("images/shop5.jpg");
}

.img7{
	background-image:url("images/shop6.jpg");
}

.img8{
	background-image:url("images/shop7.jpg");
}

p{
	position:relative;
	font-family: 'PT Sans', sans-serif;
	/*transform:translate(250px,250px);*/
}


.section3{
	width:90%;
	margin:90px auto;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.column1,.column2,.column3,.column4{
	width:20%;
}

h3{
	padding-bottom:10px;
}


.last_section{
	background-image:url("images/mbr-7-1620x1080.jpg");
	background-position:center center;
	width:100%;
	height:280px;
	background-size:cover;
}

footer{
	/*background-image:url("images/mbr-7-1620x1080.jpg");
	background-position:center center;
	width:100%;
	height:280px;
	opacity:1.8;*/

	width:70%;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
	color:white;
}

.col1,.col2,.col3{
	padding-top:30px;
	width:20%;
	position:relative;
}

i{
	padding-right:16px;
	padding-bottom:15px;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:white;
	display:block;
}

.col1 h4{
	padding-bottom:5px;
	font-family: 'Oswald', sans-serif;
	font-weight:lighter;
} 
.col1 p{
	padding-bottom:5px;
}

.last_section::before{
    content:"";
    height:280px;
    width:100%;
    position:absolute;
    
    background-color: rgba(0,0,0,0.5);
}

.card::before{
	content:"";
	position:absolute;
	background-color: rgba(0,0,0,0.2);
	width:320px;
	height:300px;

}

.images p{
	font-size:24px;
	font-family: 'PT Sans', sans-serif;
}

.images p:nth-child(1){
	color:#44F7B3;
}

.images p:nth-child(2){
	color:white;
}

/*p:nth-child(2)*/

.card:hover{
    transform:scale(1.02);

}


.burger{
	position: relative;
	
	cursor:pointer;
	display: none;

}

.line1,.line2,.line3{
	position: absolute;
	background-color:white;
	height:2px;
	width:33px;
	margin-bottom:4px;
}

.line1{
	top:0px;
}
.line2{
	top:5px;
}
.line3{
	top:10px;
}


@media only screen and (max-width: 1445px){
	
	.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
		width:300px;
		height:280px;
	}

	.card::before{
		width:300px;
		height:280px;
	}

	/*.images{
		width:85%;
		flex-wrap:wrap;
	}*/

    .card{
    	padding-bottom: 20px;
    }

}
@media only screen and (max-width: 1390px){
	.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
		width:280px;
		height:250px;
	}
	.card{
    	padding-bottom: 20px;
    }

    .card::before{
		width:280px;
		height:250px;
	}

}


@media only screen and (max-width: 1300px){
	.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
		width:250px;
		height:220px;
	}
	.card{
    	padding-bottom: 20px;
    }
    .card::before{
		width:250px;
		height:220px;
	}

}



@media only screen and (max-width: 1200px){
	
	.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
		width:220px;
		height:190px;
	}

	/*.images{
		width:85%;
		flex-wrap:wrap;
	}*/

    .card{
    	/*padding-top:20px;*/
    	padding-bottom: 20px;
    }

    .card::before{
		width:220px;
		height:190px;
	}


}



@media only screen and (max-width: 1060px){
	
	.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
		width:190px;
		height:160px;
		/*background-size:cover;
		background-position:center center;*/
	}

	.card::before{
		width:190px;
		height:160px;
	}


/*	.images{
		width:45%;
		margin:0 auto;
	}*/

    .card{
    	padding-bottom: 20px;
    }

    .heading{
    	font-size:60px;
    }
    .h{
    	font-size:50px;
    }
    .h2{
    	font-size:16px; 
    }

    .btn{
    	/*color:white;*/
	/*background-color:#fe525b;*/
	padding:9px 22px;
	border-radius:24px;
	/*border:none;*/
	/*cursor:pointer;*/
	font-size:15px;
	/*margin-top:20px;*/
    }













}


@media only screen and (max-width: 880px){
	.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
		width:350px;
		height:320px;
	}

	.card::before{
		width:350px;
		height:320px;
	}

	.section2 h1{
		font-size:34px;
	}


    .column1,.column2,.column3,.column4 {
    	width:40%;
    }

    .column1,.column2{
    	padding-bottom:50px;
    }

    .last_section{
    	font-size:14px;
    }
 
    .burger{
    	display:block;
    }
    .menu{
    	display:none;
    }

    .new-menu{
    	width:50%;
    	display:block;
    	display:flex;
    	justify-content:center;
    	align-items: center;
    	flex-direction:column;
    	/*background-color:green;*/
    }

.new-logo img{
	display:none;
}
    .new-menu .list{
    	display:flex;
    	flex-direction:column;
    	/*background-color:yellow;*/
    	width:90%;

    }

    .list a{
    	padding: 2px;
    	font-size:18px;
    }

    .new-logo{
    	display:flex;
    	justify-content:center;
    	/*background-color:yellow;*/
    	width:80%;
    	padding-bottom:1%;
    }

    .new-logo .para{
    	font-size:2em;
    	 background-image:linear-gradient(45deg,#fe525b,red);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    }

    .new-navbar{
    	height:20vh;
    	/*justify-content:space-around;*/
    	display:flex;
    	flex-direction:column;
    	align-items:center;
    	 transition: all 1s ease-in-out;

    }







     .cross{
       /*bottom:80px;*/
	width:33px;
	height:30px;
	z-index:9;
        outline: none;
        transition: all 1s ease;
    }
    
    .cross .line1 {
		transform: rotate(45deg);
		top:7px;
    }

    .cross .line2,.cross .line3{
		transform: rotate(-45deg);
		top:7px;

    }

    
    





}

@media only screen and (max-width: 840px){
	.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
		width:320px;
		height:290px;
	}

	.card::before{
		width:320px;
		height:290px;
	}



	
}

@media only screen and (max-width: 780px){
	.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
		width:290px;
		height:260px;
	}

		.card::before{
		width:290px;
		height:260px;
	}



	 .heading{
    	font-size:45px;
    }
    .h{
    	font-size:35px;
    }
    .h2{
    	font-size:14px; 
    }


   /*   .column1,.column2,.column3,.column4 h3{

    	font-size:15px;

    }
     .column1,.column2,.column3,.column4 p{

    	font-size:13px;

    }*/

}

@media only screen and (max-width: 740px){
	.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
		width:260px;
		height:230px;
	}
		.card::before{
		width:260px;
		height:230px;
	}
}



@media only screen and (max-width: 644px){
	.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
		width:420px;
		height:305px;
		background-position:center center;
	}

		.card::before{
		width:430px;
		height:305px;
	}

	.images{
		width:79%;
		align-items:center;
		justify-content:center;
	}

	.heading{
    	font-size:36px;
    }
    .h{
    	font-size:32px;
    }
    .h2{
    	font-size:12px; 
    }

    .btn{
    	/*color:white;*/
	/*background-color:#fe525b;*/
	padding:6px 16px;
	border-radius:20px;
	/*border:none;*/
	/*cursor:pointer;*/
	font-size:10px;
	/*margin-top:20px;*/
    }

    .column1,.column2,.column3,.column4 {
    	width:100%;
    }

    .column3{
    	padding-bottom:50px;
    }

    .last_section{
		font-size:10px;
	}

   

}


@media only screen and (max-width: 530px){
	.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
		width:410px;
		height:250px;
		background-position:center center;
	}

		.card::before{
		width:410px;
		height:250px;
	}

		.images{
		width:70%;
		
	}

	.last_section{
		font-size:8px;
	}



	
}



@media only screen and (max-width: 445px){
	.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
		width:380px;
		height:220px;
		background-position:center center;
	}

		.card::before{
		width:380px;
		height:220px;
	}

		.images{
		width:70%;
		
	}

	

	
}



@media only screen and (max-width: 445px){
	.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
		width:340px;
		height:190px;
		background-position:center center;
	}

		.card::before{
		width:340px;
		height:190px;
	}

		.images{
		width:70%;
		
	}

	.last_section{
		font-size:6px;
	}



	
}



@media only screen and (max-width: 365px){
	.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8{
		width:310px;
		height:160px;
		background-position:center center;
	}

		.card::before{
		width:310px;
		height:160px;
	}

		.images{
		width:70%;
		
	}

	
}


@media only screen and (max-width: 290px){
	.last_section{
		font-size:4px;
	}

	.new-menu .list{
    	display:flex;
    	flex-direction:column;
    	/*background-color:yellow;*/
    	width:100%;

    }


}












































/*
1474
1098


*/


